<table class="table table-bordered">
  <thead>
  <tr>
    <th>序号</th>
    <th>订单编号</th>
    <th>宠物主人</th>
    <th>宠物姓名</th>
    <th>创建日期</th>
    <th>金额</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let chargeItem of pageData.content | paginate: {
                                                      itemsPerPage: pageData.size,
                                                      currentPage: pageData.number+1,
                                                      totalItems: pageData.totalElements } ; let i=index">
    <td>{{i+1}}</td>
    <td>{{chargeItem.uuid}}</td>
    <td>{{chargeItem.petOwnerName}}</td>
    <td>{{chargeItem.petName}}</td>
    <td>{{chargeItem.createdDate | date:'yyyy年MM月dd日 HH:mm:ss'}}</td>
    <td>{{chargeItem.totalAmount}}</td>
    <td>{{getStatusText(chargeItem.status)}}</td>
    <td>
      <div class="btn-group btn-group-sm">
        <button [disabled]="isPaid(chargeItem.status)" (click)="onPaidClicked(chargeItem)" type="button"
                class="btn btn-default btn-s"
        >已支付
        </button>
        <button (click)="onReimbursedClicked(chargeItem)" type="button" class="btn btn-default btn-s"
        >已退款
        </button>
      </div>
    </td>
  </tr>

  </tbody>

</table>

<pagination-controls (pageChange)="onPageChanged($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
