<div *ngIf="employee=== undefined ">
  请从列表中选择一名员工进行设置
</div>

<div *ngIf="employee!= undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      设置 <b>{{employee?.fullName}}</b>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <div>
            <div class=" pull-left">
              前台可见
            </div>
            <div class="pull-right">
              <ui-switch size="small"
                         [ngModel]="this.treatmentEmployeeModel?.canBeRegistered"
                         (change)="onSwitchChange($event)"
              ></ui-switch>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
