<tr [formGroup]="good">
  <td><input class="text" formControlName="vendor"></td>
  <td><input class="text" formControlName="contact"></td>
  <td><input class="text" formControlName="contactTelephone"></td>
  <td><input class="text" formControlName="packageSpecification"></td>
  <td><input class="text" formControlName="number"></td>
  <td><input class="text" formControlName="packageUnit"></td>
  <td><input class="text" formControlName="pricePerUnit"></td>
  <td><input class="text" formControlName="totalPrice"></td>
  <td><input class="text" formControlName="otherRequirements"></td>
</tr>

