<modal #createMedicalTestsModal>
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">请添加化验检查项</h4>
    </modal-header>
    <modal-body>
      <app-create-medical-tests
        [petOwner]="petOwner$|async"
        [pet]="pet$|async"
        (generateMedicalTestReport)="onGenerateMedicalTestReport($event)"
      >
      </app-create-medical-tests>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="createMedicalTestsModal"
              (click)="createMedicalTestsModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>


<div style="height: 700px ">
  <split [direction]="'horizontal'">
    <split-area [size]="30">
      <div style="padding-right:15px">

        <div class="panel panel-info isaac-margin-15top">
          <div class="panel-heading">
            今日检查
          </div>
          <div class="panel-body">
            <button (click)="onCreateMedicalTestClicked()" class="btn btn-primary btn-sm isaac-margin-bottom-10px"><span
              class="glyphicon glyphicon-plus"></span> 新建化验检查
            </button>

            <app-loading-spinner [isLoading]="isLoading$|async"></app-loading-spinner>

            <app-treatment-medical-test
              [list]="todayMedicalTestReports$|async"
              [selectedMedicalTest]="selectedMedicalTest$|async"
              (itemSelected)="onMedicalTestSelected($event)"
            ></app-treatment-medical-test>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            历史化验检查
          </div>
          <div class="panel-body">
            <app-treatment-medical-test
              [list]="historyMedicalTestReports$|async"
              [selectedMedicalTest]="selectedMedicalTest$|async"
              (itemSelected)="onMedicalTestSelected($event)"
            ></app-treatment-medical-test>

          </div>
        </div>

      </div>
    </split-area>

    <split-area [size]="70">
      <div style="padding-left: 20px">
        <router-outlet></router-outlet>
      </div>
    </split-area>
  </split>
</div>

