<div >
  请从挂号列表中选择其中一项进行诊疗
</div>

<div >

  <ul class="nav nav-tabs ">
    <li routerLinkActive="active">
      <a routerLink="/my-consulting-room/pet-info" class="text-center">宠物资料</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/my-consulting-room/pet-treatment" class="text-center">宠物病历</a>
    </li>
    <!--
    <li routerLinkActive="active">
      <a routerLink="/my-consulting-room/pet-medical-test" class="text-center">化验记录</a>
    </li>
    <li routerLinkActive="active">
      <a class="text-center">影像记录</a>
    </li>
    -->
  </ul>
  <router-outlet></router-outlet>
</div>

