<div class="fixed-height isaac-margin-15top">
  <split [direction]="'vertical'">
    <split-area [size]="30">
      <table class="table table-bordered table-responsive">
        <thead>
        <tr>
          <th>入库单号</th>
          <th>供应商编号</th>
          <th>供应商名称</th>
          <th>联系人</th>
          <th>总项数</th>
          <th>订货总金额</th>
          <th>入库日期</th>
          <th>制单人</th>
          <th>审核人</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let importReceipt of importReceipts" (click)="onRowClicked(importReceipt) "
            [class.info]="isRowSelected(importReceipt)">
          <td>{{importReceipt.sheetNumber}}</td>
          <td>{{importReceipt.vendor}}</td>
          <td>{{importReceipt.vendor}}</td>
          <td>{{importReceipt.vendorContact}}</td>
          <td>{{getImportReceiptItemCount(importReceipt)}}</td>
          <td>{{getImportReceiptTotalSum(importReceipt)}}</td>
          <td>{{importReceipt.importTime| date:'yyyy年MM月dd日 HH:mm:ss'}}</td>
          <td>{{importReceipt.operator }}</td>
          <td>{{importReceipt.auditor }}</td>
        </tr>
        </tbody>
      </table>
    </split-area>
    <split-area [size]="70">
      <app-import-management-detail [importReceiptId]="selectedImportReceipt.id"></app-import-management-detail>
    </split-area>
  </split>
</div>
