<div class="row">
  <h1 class="page-header">数据备份与恢复</h1>
</div>

<div class="row">
  <div class="col-md-4 btn-group">
    <button class="btn btn-primary">立即备份</button>
  </div>
</div>

<div class="row isaac-margin-15top">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form class="form" role="form">
          <div class="form-group isaac-form-space">
            <label>定时备份:</label>
            <ul class="nobull">
              <li>
                <label class="radio">
                  <input type="radio" name="optradio" checked>每隔30分钟
                </label>
              </li>
              <li>
                <label class="radio" style="display: inline-block;">
                  <input type="radio" name="optradio">每隔
                  <div class="dropdown" style="width: 40px;display: inline-block">
                    <button type="button"
                            class="btn btn-default dropdown-toggle" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      {{selectedStatusText}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="javascript:void(0)" *ngFor="let hour of getHoursArr()">{{hour}}</a>
                      </li>
                    </ul>
                  </div>
                  小时
                </label>
              </li>
            </ul>
          </div>
        </form>

        <button class="btn btn-default pull-right" type="button">保存</button>
      </div>
    </div>
  </div>
</div>


<h4>备份列表</h4>
<table *ngIf="pageData?.content.length>0" class="table table-bordered isaac-margin-15top">
  <thead>
  <tr role="row">
    <th>序号</th>
    <th>备份日期</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody role="alert" aria-live="polite" aria-relevant="all">
  <tr *ngFor="let registration of pageData?.content | paginate: {
                                                      itemsPerPage: pageData?.size,
                                                      currentPage: pageData?.number+1,
                                                      totalItems: pageData?.totalElements } ; let i=index">
    <td>{{i+1}}</td>
    <td></td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-default">恢复</button>
        <button type="button" class="btn btn-default">删除</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info isaac-margin-15top" *ngIf="!pageData || pageData?.content.length===0" role="alert">
  无数据
</div>

<pagination-controls *ngIf="pageData" (pageChange)="onPageChanged($event)" previousLabel="上一页"
                     nextLabel="下一页"></pagination-controls>

