<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>出库单号</th>
    <th>供应商编号</th>
    <th>供应商名称</th>
    <th>联系人</th>
    <th>总项数</th>
    <th>订货总金额</th>
    <th>出库日期</th>
    <th>制单人</th>
    <th>审核人</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let exportReceipt of list" (click)="onRowClicked(exportReceipt) "
      [class.info]="isRowSelected(exportReceipt)">
    <td>{{exportReceipt.sheetNumber}}</td>
    <td>{{exportReceipt.vendor}}</td>
    <td>{{exportReceipt.vendor}}</td>
    <td>{{exportReceipt.vendorContact}}</td>
    <td>{{getExportReceiptItemCount(exportReceipt)}}</td>
    <td>{{getExportReceiptTotalSum(exportReceipt)}}</td>
    <td>{{exportReceipt.exportTime| date:'yyyy年MM月dd日 HH:mm:ss'}}</td>
    <td>{{exportReceipt.operator }}</td>
    <td>{{exportReceipt.auditor }}</td>
  </tr>
  </tbody>
</table>
