<form [formGroup]="formModel" novalidate>

  <div class="panel panel-info isaac-margin-15top ">
    <div class="panel-heading">
      基本信息
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>化验报告名称</label>
            <input readonly type="text" class="form-control" formControlName="reportName">
          </div>
        </div>
        <div formArrayName="reportInfoList">
          <div class="col-md-3" *ngFor="let infoItem of reportInfoData.controls; let i=index" [formGroupName]="i">
            <div class="form-group">
              <label>{{reportInfoData.controls[i].controls['reportKey'].value}}</label>
              <input type="hidden" formControlName="reportKey">
              <input type="text" class="form-control" formControlName="reportValue" readonly>
              <small [hidden]="reportInfoData.controls[i].controls['reportValue'].valid" class="text-danger">
                此报告项名称不可为空
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="isaac-margin-15top" formArrayName="reportItems">
    <div class="panel panel-info">
      <div class="panel-heading">
        检查项目
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>序号</th>
            <th>名称</th>
            <th>单位</th>
            <th>参考值(下限)</th>
            <th>参考值(上限)</th>
            <th>测试结果</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reportItem of reportData.controls; let i=index" [formGroupName]="i">
            <td>{{i+1}}</td>
            <td>
              <label>{{reportItem.controls['itemName'].value}}</label>
            </td>
            <td>
              <label>{{reportItem.controls['itemUnit'].value}}</label>
            </td>
            <td>
              <label>{{reportItem.controls['referenceLowLimitValue'].value}}</label>
            </td>
            <td>
              <label>{{reportItem.controls['referenceHighLimitValue'].value}}</label>
            </td>
            <td>
              <label>{{reportItem.controls['result'].value}}</label>
            </td>
            <td>
              <label>{{reportItem.controls['comments'].value}}</label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>

