<div class="row">
  <div class="col-md-2">
    <label for="vendor">供应商名称:</label>
    <input id="vendor" name="vendor" [(ngModel)]="query.vendor" class="form-control" type="text">
  </div>
  <div class="col-md-2">
    <label for="startDate">起始日期: </label>
    <my-date-picker id="startDate" name="mydate" [selDate]="query.startDate"   (dateChanged)="onDateChanged1($event)" [options]="myDatePickerOptions" required></my-date-picker>
                    <!--[(ngModel)]="startDate"-->
  </div>
  <div class="col-md-2">
    <label for="endDate">结束日期: </label>
    <my-date-picker id="endDate" name="mydate" [selDate]="query.endDate"
                    (dateChanged)="onDateChanged2($event)"
                    [options]="myDatePickerOptions" required></my-date-picker>
                    <!--[(ngModel)]="endDate" -->
  </div>

  <div class="col-md-2">
    <label for="statusDropdown">申请状态: </label>
    <div id="statusDropdown" class="dropdown isaac-dropdown-button">
      <button class="btn btn-default dropdown-toggle isaac-dropdown-button"
              type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{query.status}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngFor="let status of flatenP">
          <a (click)="onStatusDropdownClicked(status)">{{status}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-3">
    <div class="btn-group isaac-margin-25top">
      <button class="btn btn-default" (click)="onSearchButtonClicked()">查询</button>
      <button class="btn btn-default isaac-align-bottom" (click)="onClearButtonClicked()">清除</button>
      <button class="btn btn-default isaac-align-bottom" (click)="onCreateNewRequestButtonClicked()">创建新的申请</button>
    </div>
  </div>

  <div class="col-md-1">
    <a href="javascript:void(0)"><i #spinner (click)="onRefreshIconClicked()" [ngClass]="getStatus()"></i></a>
  </div>


</div>

<div class="row isaac-margin-15top">
  <label>共有{{procurements?.length}}笔订货单 订货总金额共{{getTotalPrice()}}元</label>
</div>

<div class="row fixed-height isaac-margin-15top">
  <split [direction]="direction">
    <split-area [size]="30">
      <table class="table table-bordered table-responsive">
        <thead>
        <tr>
          <th>编号</th>
          <th>采购状态</th>
          <th>供应商编号</th>
          <th>供应商名称</th>
          <th>联系人</th>
          <th>总项数</th>
          <th>订货总金额</th>
          <th>制单时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let procurement of procurements" (click)="onRowClicked(procurement) "
            [class.info]="isRowSelected(procurement)">
          <td>{{procurement.orderNumber}}</td>
          <td>{{procurement.status}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.vendorId}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.vendor}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.contact}}</td>
          <td>{{procurement.procurementRequest?.goods.length}}</td>
          <td>{{procurement.procurementRequest.totalPrice}}</td>
          <td>{{procurement.procurementRequest?.submittedData | date:'yyyy年MM月dd日 HH:mm:ss' }}</td>
        </tr>
        </tbody>
      </table>
    </split-area>
    <split-area [size]="70">
      <app-procurement-purchase-detail [procurement]="selectedProcurement"></app-procurement-purchase-detail>
    </split-area>
  </split>
</div>
