<div class="row">
  <h1 class="page-header">药品查询</h1>
</div>
<div class="row">

  <!--
    <div class="navbar-default sidebar sidebar-2nd-level subsidebar " role="navigation">
      <div class="sidebar-nav">
        <h4>库房</h4>
        <ul class="nav" id="side-menu2">
          <li>
            <a href="javascript:void(0)"> <input type="checkbox"/> 全部库房</a>
            <ul class="nav nav-third-level">
              <li><a href="javascript:void(0)"> <input type="checkbox"/> 库房1</a></li>
              <li><a href="javascript:void(0)"> <input type="checkbox"/> 库房2</a></li>
              <li><a href="javascript:void(0)"> <input type="checkbox"/> 库房3</a></li>
              <li><a href="javascript:void(0)"> <input type="checkbox"/> 库房4</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    -->
  <div class="mysidebar col-md-2">
    <h4>库房</h4>
    <div>
      <tree-root [nodes]="nodes" [options]="options"></tree-root>
    </div>

    <h4>分类</h4>
    <div>
      <tree-root [nodes]="nodes" [options]="options"></tree-root>
    </div>
  </div>


  <div class="row col-md-10">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>编号</th>
        <th>条码</th>
        <th>名称</th>
        <th>规格</th>
        <th>单位</th>
        <th>当前库存</th>
        <th>售价</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>123</td>
        <td>123</td>
        <td>阿司匹林</td>
        <td>20g/片</td>
        <td>盒</td>
        <td>24</td>
        <td>40.00</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

