<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <!-- Maven Central Deployment -->
      <id>docker-hub</id>
      <username>isaacguo</username>
      <password>{WB3tsYh7XGcHNei519eWKAqW/em+yQ39jEo+cQJXTmI=}</password>
    </server>
  </servers>

</settings>
