<div class="row">

  <div class="col-lg-3">

    <table class="table">
      <thead>
      <tr>
        <th>就诊号</th>
        <th>宠物名称</th>
        <th>主人姓名</th>
        <th>挂号状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onRowClicked(item)" *ngFor="let item of list"
          [class.info]="isRowSelected(item)">
        <td>{{item.uuid}}</td>
        <!--
        <td>{{registration.petName}}</td>
        <td>{{registration.petOwnerName}}</td>
        <td>{{getRegistrationStatusString(registration.registrationStatus)}}</td>
        -->
        <td>
          <div class="btn-group btn-group-sm">
            <button *ngIf="item.status==='UNPAID'" type="button"
                    class="btn btn-default btn-s"><span
              class="glyphicon glyphicon-bullhorn"></span></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div class="col-lg-9 isaac-margin-15top">
    <app-pharmacy-medicine-dispensing-management-detail>

    </app-pharmacy-medicine-dispensing-management-detail>

  </div>
</div>
