<div class="row">
  <h1 class="page-header">前台服务</h1>
</div>
<div class="row large-panel-margin">
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
</div>
<div class="row large-panel-margin">
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
  <div class="col-sm-6 col-md-3">
    <figure>
      <img class="img-responsive center-block" src="../../../assets/paw40.png">
      <figcaption class="text-center">前台服务</figcaption>
    </figure>
  </div>
</div>
