<div class="row">
  <h1 class="page-header">化验管理</h1>
</div>
<form class="form-inline" role="form">
  <div class="form-group isaac-form-space">
    <label for="cardNumber">卡号:</label>
    <input id="cardNumber" class="form-control" type="text">
  </div>
  <div class="form-group isaac-form-space">
    <label for="patientRecordId">病历: </label>
    <input id="patientRecordId" class="form-control" type="text">
  </div>
  <div class="form-group isaac-form-space">
    <label for="petName">宠物名称: </label>
    <input id="petName" class="form-control" type="text">
  </div>
  <div class="form-group isaac-form-space">
    <label for="ownerName">主人姓名: </label>
    <input id="ownerName" class="form-control" type="text">
  </div>
  <button class="btn btn-default">查询</button>
</form>
<div class="row isaac-margin-top">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>序号</th>
      <th>病历号</th>
      <th>宠物名称</th>
      <th>卡号</th>
      <th>主人姓名</th>
      <th>接诊医师</th>
      <th>化验项目</th>
      <th>开单时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    <tr>
      <td>1</td>
      <td></td>
      <td>小小</td>
      <td>12312415321</td>
      <td>马云</td>
      <td>马欢腾</td>
      <td>血常规</td>
      <td>2017/5/11 12:32:43</td>
    </tr>
    </tbody>
  </table>
</div>
