
<div class="col-lg-3 col-xs-12">
  <div class="small-box bg-green">
    <div class="inner">
      <h3>医院</h3>
      <p id="numberOfCompanyStuctures">
        Pet Hospital
      </p>
    </div>
    <div class="icon">
      <i class="fa fa-paw" aria-hidden="true"></i>
    </div>
    <a href="javascript:void(0)" class="small-box-footer" id="companyLink">
      医院管理<i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        员工
      </h3>
      <p id="numberOfEmployees">
       {{employeeCount}} Employees
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-person-stalker"></i>
    </div>
    <a href="javascript:void(0)" class="small-box-footer" id="employeeLink">
      员工管理
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>客户</h3>
      <p id="numberOfUsers">
        Users
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-person-add"></i>
    </div>
    <a href="javascript:void(0)"  class="small-box-footer" id="usersLink">
      客户管理 <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        权限设置
      </h3>
      <p>
        Management
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-locked"></i>
    </div>
    <a href="javascript:void(0)" class="small-box-footer" id="permissionLink">
      权限管理 <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
