<modal #registrationResultModal (onClose)="onRegistrationResultModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">已成功</h4>
    </modal-header>
    <modal-body>
      挂号已成功, 号码 {{returnedRegistration.indexOfDay}}
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="registrationResultModal.close()">确定</button>
    </modal-footer>
  </form>
</modal>

<modal #confirmRegistrationModal (onClose)="onConfirmRegistrationModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">请确认</h4>
    </modal-header>
    <modal-body>
      确定为 <b>{{currentPetOwner.name}}</b> 的宠物 <b>{{selectedPet.name}}</b> <br/>挂 <b>{{selectedDepartment.name}}</b> 科室 <b>{{selectedDoctor.name}}</b> 今日的号么？
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="confirmRegistrationModal.close()">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="createPetOwnerModal"
              (click)="confirmRegistrationModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>

<modal #createPetOwnerModal (onClose)="onCreatePetOwnerModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{ownerModalTitle}}</h4>
    </modal-header>
    <modal-body>
      <form role="form">
        <div class="form-group isaac-form-space">
          <label>姓名: </label>
          <input [(ngModel)]="newPetOwner.name" name="newPetOwnerName" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>性别: </label>
          <input [(ngModel)]="newPetOwner.gender" name="newPetOwnerGender" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>生日: </label>
          <input [ngModel]="newPetOwner.dateOfBirth | date:'yyyy年MM月dd日' " name="newPetOwnerDateOfBirth"
                 class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>手机: </label>
          <input [(ngModel)]="newPetOwner.cellPhone" name="newPetOwnerCellPhone" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>电话: </label>
          <input [(ngModel)]="newPetOwner.homePhone" name="newPetOwnerHomePhone" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>邮箱: </label>
          <input [(ngModel)]="newPetOwner.email" name="newPetOwnerEmail" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>住址: </label>
          <input [(ngModel)]="newPetOwner.address" name="newPetOwnerAddress" class="form-control" type="text">
        </div>
      </form>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="createPetOwnerModal.close()">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="createPetOwnerModal"
              (click)="createPetOwnerModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>

<modal #createPetModal (onClose)="onCreatePetModalClosed()">
  <form #modalForm3="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{petModalTitle}}</h4>
    </modal-header>
    <modal-body>
      <form class="form-inline" role="form">
        <div class="form-group isaac-form-space">
          <label>名字: </label>
          <input [(ngModel)]="newPet.name" name="newPetName" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>性别: </label>
          <input [(ngModel)]="newPet.gender" name="newPetGender" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>年龄: </label>
          <input [(ngModel)]="newPet.age" name="newPetAge" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>颜色: </label>
          <input [(ngModel)]="newPet.color" name="newPetColor" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>种类: </label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>品种: </label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>绝育: </label>
          <input [(ngModel)]="newPet.sterilized" name="newPetSterilized" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>病历: </label>
          <input class="form-control" type="text">
        </div>
      </form>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="createPetModal.close()">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="createPetModal"
              (click)="createPetModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>

<div class="row">
  <form class="form-inline" role="form">
    <div class="form-group isaac-form-space">
      <label for="cardNumber">卡号:</label>
      <input id="cardNumber" class="form-control" type="text">
    </div>
    <div class="form-group isaac-form-space">
      <label for="patientRecordId">病历: </label>
      <input id="patientRecordId" class="form-control" type="text">
    </div>
    <div class="form-group isaac-form-space">
      <label for="petName">宠物名称: </label>
      <input id="petName" class="form-control" type="text">
    </div>
    <div class="form-group isaac-form-space">
      <label for="ownerName">主人姓名: </label>
      <input [(ngModel)]="findByPetOwnerNameText" name="findByPetOwnerNameText" id="ownerName" class="form-control"
             type="text">
    </div>
    <div class="btn-group" role="group">
      <button (click)="onFindPetOwnerButtonClicked()" class="btn btn-default">查询</button>
      <button (click)="onClearButtonClicked()" class="btn btn-default">清除</button>
    </div>
    <div class="btn-group" role="group">
      <button (click)="onCreatePetOwnerButtonClicked(createPetOwnerModal)" class="btn btn-default">新建主人</button>
    </div>
  </form>
</div>
<div class="row isaac-margin-top">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">主人信息</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group isaac-form-space">
          <label>编号:</label>
          <input readonly [ngModel]="currentPetOwner.id" name="currentPetOwnerId" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>姓名: </label>
          <input readonly [ngModel]="currentPetOwner.name" name="currentPetOwnerName" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>性别: </label>
          <input readonly [ngModel]="currentPetOwner.gender" name="currentPetOwnerGender" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>生日: </label>
          <input readonly [ngModel]="currentPetOwner.dateOfBirth | date:'yyyy年MM月dd日' "
                 name="currentPetOwnerDateOfBirth" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>手机: </label>
          <input readonly [ngModel]="currentPetOwner.cellPhone" name="currentPetOwnerCellPhone" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>电话: </label>
          <input readonly [ngModel]="currentPetOwner.homePhone" name="currentPetOwnerHomePhone" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>邮箱: </label>
          <input readonly [ngModel]="currentPetOwner.email" name="currentPetOwnerEmail" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>最后消费: </label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>住址: </label>
          <input readonly [ngModel]="currentPetOwner.address" name="currentPetOwnerAddress" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>卡号: </label>
          <input readonly [ngModel]="currentPetOwner.memberNumber" name="currentPetOwnerMemberNumber"
                 class="form-control" type="text">
        </div>
      </form>
      <div class="btn-group btn-group-lg isaac-margin-top" role="group">
        <button (click)="onModifyOwnerButtonClicked(createPetOwnerModal)" type="btn btn-default">修改主人信息</button>
        <button (click)="onCreateNewPetButtonClicked(createPetModal)" type="btn btn-default">新增宠物</button>
      </div>
      <div class="row">
        <table class="table">
          <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>性别</th>
            <th>年龄</th>
            <th>颜色</th>
            <th>种类</th>
            <th>品种</th>
            <th>注册日期</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="onRowClicked(pet)" *ngFor="let pet of currentPetOwner.petList;let petIndex=index"
              [class.info]="isRowSelected(pet)">
            <td>{{petIndex+1}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.gender}}</td>
            <td>{{pet.age}}</td>
            <td>{{pet.color}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default btn-s"
                        (click)="onUpdatePetButtonClicked(createPetModal, pet)"><span
                  class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-default btn-s" (click)="onRemovePetButtonClicked(pet)"><span
                  class="glyphicon glyphicon-remove"></span></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<div class="row isaac-margin-top">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">宠物信息</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group isaac-form-space">
          <label>编号:</label>
          <input [(ngModel)]="selectedPet.id" name="selectedPetId" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>名称: </label>
          <input [(ngModel)]="selectedPet.name" name="selectedPetName" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>性别: </label>
          <input [(ngModel)]="selectedPet.gender" name="selectedPetGender" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>年龄: </label>
          <input [(ngModel)]="selectedPet.age" name="selectedPetAge" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>颜色: </label>
          <input [(ngModel)]="selectedPet.color" name="selectedPetColor" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>种类: </label>
          <input [ngModel]="selectedPet.petType?.name" name="selectedPetPetTypeName" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>品种: </label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>绝育: </label>
          <input [ngModel]="selectedPet.sterilized" name="selectedPetSterilized" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>病历: </label>
          <input class="form-control" type="text">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row isaac-margin-top">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">挂号信息</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="btn-group" role="group">
          <button [disabled]="selectedPet.id==null" type="button"
                  class="btn btn-default dropdown-toggle isaac-dropdown-button" id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{selectedDepartment.name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="javascript:void(0)" *ngFor="let department of departments"
                   (click)="setSelectedDepartment(department)">{{department.name}}</a></li>
          </ul>
        </div>

        <div class="btn-group" role="group">
          <button [disabled]="selectedDepartment.id==null" type="button"
                  class="btn btn-default dropdown-toggle isaac-dropdown-button" id="dropdownMenu2"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{selectedDoctor.name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="javascript:void(0)" *ngFor="let doctor of availableDoctors"
                   (click)="setSelectedDoctor(doctor)">{{doctor.name}}</a></li>
          </ul>
        </div>

        <div class="form-group isaac-form-space">
          <label>价格: </label>
          <input readonly class="form-control" type="text">
        </div>
        <div class="btn-group" role="group">
          <button [disabled]="selectedDoctor.id==null" (click)="onRegistrationButtonClicked(confirmRegistrationModal)" class="btn btn-default">
            挂号
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
