<div class="col-lg-3 col-xs-12">
  <div class="small-box bg-green">
    <div class="inner">
      <h4>年假</h4>
      <p id="numberOfCompanyStuctures">
        80 小时
      </p>
    </div>
    <div class="icon">
      <i class="fa fa-paw" aria-hidden="true"></i>
    </div>
    <a class="small-box-footer" id="companyLink">
      医院管理<i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-aqua">
    <div class="inner">
      <h4>病假</h4>
      <p id="numberOfCompanyStuctures">
        40 小时
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-person-stalker"></i>
    </div>
    <a href="#_moduleLink_#" class="small-box-footer" id="employeeLink">
      员工管理
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
