<div *ngIf="procurement==null" class="isaac-margin-15top">
  <h4>请从申请单列表中选择具体申请单查看详细信息</h4>
</div>

<div *ngIf="procurement!=null" class="row isaac-margin-top">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">采购申请单信息</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group isaac-form-space">
          <label>编号:</label>
          <input readonly [ngModel]="procurement.orderNumber" name="procurementOrderNumber" class="form-control"
                 type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>状态: </label>
          <input readonly [ngModel]="procurement.status" name="procurementStatus" class="form-control" type="text">
        </div>
        <div class="form-group isaac-form-space">
          <label>提交日期: </label>
          <input readonly [ngModel]="procurement.procurementRequest.submittedData | date:'yyyy年MM月dd日 hh:mm:ss'"
                 name="procurementSubmittedDate" class="form-control"
                 type="text">
        </div>
      </form>
      <div class="row">
        <table class="table">
          <thead>
          <tr>
            <th>序号</th>
            <th>产品名称</th>
            <th>包装规格</th>
            <th>包装单位</th>
            <th>数量</th>
            <th>购买原因</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let good of procurement.procurementRequest.goods;let goodIndex=index">
            <td>{{goodIndex+1}}</td>
            <td>{{good.name}}</td>
            <td>{{good.packageSpecification}}</td>
            <td>{{good.packageUnit}}</td>
            <td>{{good.number}}</td>
            <td>{{good.reason}}</td>
            <td>{{good.otherRequirements}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="isaac-margin-top">
    <div class="panel panel-default">
      <div class="panel-heading ">
        <div class="panel-title pull-left">
          审批意见
        </div>
        <div class="panel-title pull-right">
          <a *ngIf="!isPanelview" (click)="onShowPanelViewClicked()" href="javascript:void(0)"><span
            class="glyphicon glyphicon-th-large "></span></a>
          <a *ngIf="isPanelview" (click)="onShowTableViewClicked()" href="javascript:void(0)"><span
            class="glyphicon glyphicon-th-list"></span></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <span>当前状态：</span> <span>{{getStatusText()}}</span>
        <ul class="list-inline isaac-margin-15top " *ngIf="approvalStages!=null">
          <li class="list-inline-item"
              *ngFor="let stage of approvalStages; let oIndex = index">
            <div *ngIf="oIndex!=approvalStages.length-1">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="javascript:void(0)" class="list-group-item">
                    {{stage}}
                  </a>
                </li>
                <li class="list-inline-item">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                </li>
              </ul>
            </div>
            <div *ngIf="oIndex===approvalStages.length-1">
              <a href="javascript:void(0)" class="list-group-item">
                {{stage}}
              </a>
            </div>
          </li>
        </ul>

        <table *ngIf="!isPanelview" class="table table-bordered">
          <thead>
          <tr>
            <th>节点</th>
            <th>审批人</th>
            <th>意见</th>
            <th>提交日期</th>
            <th>审批日期</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let approval of procurement.approvalList">
            <td>{{approval.stage}}</td>
            <td>{{approval.reviewer}}</td>
            <td>{{approval.reviewResult===true?"同意":"退回"}}</td>
            <td>{{approval.createdDateTime | date:'yyyy年MM月dd日 HH:mm:ss'}}</td>
            <td>{{approval.reviewedDateTime | date:'yyyy年MM月dd日 HH:mm:ss'}}</td>
            <td>{{approval.comments}}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="isPanelview">
          <div *ngFor="let approval of procurement.approvalList">
            <div *ngIf="approval.reviewed" class="panel panel-default">
              <div class="panel-heading">
                {{approval.stage}}意见
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label>{{approval.reviewer}}</label>
                  {{approval.reviewResult===true?"同意":"退回"}}
                </div>
                <div class="form-group">
                  <label>审批日期：{{approval.reviewedDateTime| date:'yyyy年MM月dd日 hh:mm:ss' }}</label>
                </div>
                <div class="form-group">
                  <label>备注</label>
                  <input class="form-control" type="text" [ngModel]="approval.comments" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


