<div class="row">
  <h1 class="page-header">新建化验报告</h1>
</div>

<form [formGroup]="formModel" novalidate (ngSubmit)="onSubmit()">

  <div class="panel panel-default">
    <div class="panel-heading">
      基本信息
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>化验项目</label>
            <input readonly type="text" class="form-control" formControlName="reportType">
            <small [hidden]="formModel.controls.reportType.valid" class="text-danger">
              化验项目名称不能为空
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <label>主人姓名</label>
          <input readonly type="text" class="form-control" formControlName="petOwnerName">
          <small [hidden]="formModel.controls.petOwnerName.valid" class="text-danger">
            主人姓名不能为空
          </small>
        </div>
        <div class="col-md-3">
          <label>宠物名称</label>
          <input readonly type="text" class="form-control" formControlName="petName">
          <small [hidden]="formModel.controls.petName.valid" class="text-danger">
            宠物名称不能为空
          </small>
        </div>
        <div class="col-md-3">
          <label>卡号</label>
          <input readonly type="text" class="form-control" formControlName="customerNumber">
          <small [hidden]="formModel.controls.petName.valid" class="text-danger">
            卡号不能为空
          </small>
        </div>
        <div class="col-md-3">
          <label>接诊医生</label>
          <input readonly type="text" class="form-control" formControlName="doctor">
          <small [hidden]="formModel.controls.doctor.valid" class="text-danger">
            接诊医生不能为空
          </small>
        </div>
        <div class="col-md-3">
          <label>开单时间</label>
          <input readonly type="text" class="form-control" formControlName="createdDate">
          <small [hidden]="formModel.controls.createdDate.valid" class="text-danger">
            开单时间不能为空
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      检测报告
    </div>
    <!--
    <div formGroupName="report" class="panel-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>名称</th>
          <th>单位</th>
          <th>参考值(下限)</th>
          <th>参考值(上限)</th>
          <th>实际值</th>
          <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reportItem of reportTemplate.controls; let i=index" [formGroupName]="i">
          <td>{{i+1}}</td>
          <td><input class="form-control" type="text" formControlName="itemName">
            <small [hidden]="reportItem.controls.itemName.valid" class="text-danger">
              检测项名称不能为空
            </small>
          </td>
          <td>
            <input class="form-control" type="text" formControlName="itemUnit">
            <small [hidden]="reportItem.controls.itemUnit.valid" class="text-danger">
              单位不能为空
            </small>
          </td>
          <td>
            <input class="form-control" type="text" formControlName="referenceLowLimitValue">
            <small [hidden]="reportItem.controls.referenceLowLimitValue.valid" class="text-danger">
              参考值(下限)不能为空
            </small>
          </td>
          <td>
            <input class="form-control" type="text" formControlName="referenceHighLimitValue">
            <small [hidden]="reportItem.controls.referenceHighLimitValue.valid" class="text-danger">
              参考值(上限)不能为空
            </small>
          </td>
          <td>
            <input class="form-control" type="text" formControlName="comments">
          </td>
          <td>
       <span class="glyphicon glyphicon-remove"
             (click)="removeReportItem(i)">
                </span>
          </td>
        </tr>
        </tbody>
      </table>


      <div *ngFor="let item of reportTemplate.reportItems">
        {{item.itemName}}
      </div>

    </div>
    -->
  </div>
</form>
