>>> .modal-x1 {width: 1000px;}

.verlink{
  display: inline-block;
}
.verlinktop {
  display:inline-block;
  vertical-align: top;
}

.verlink-bottom {
  display:inline-block;
  vertical-align: bottom;
}
