<div class="row doctor-info">
  <div class="col-md-1 head-photo">
    <img src="../../../../assets/images/male-profile.png">
  </div>
  <div class="col-md-8 doctor-details"><p class="doctor-name"> {{doctor.name}} <span class="title"> 主任医师 </span></p>
    <p class="doctor-major"><span>擅长：猫，狗外科常见病，手术。猫，狗外科常见病，手术。猫，狗外科常见病，手术。猫，狗外科常见病，手术。猫，狗外科常见病，手术。猫，狗外科常见病，手术。</span></p>
  </div>
  <div class="col-md-1 doctor-score">
    <div class="stars">9.3分
    </div>
  </div>
  <div class="col-md-2 doctor-book">
    <button class="btn btn-default">预约</button>
  </div>
</div>
