<div class="row">
  <h1 class="page-header">新建入库单</h1>
</div>

<modal #confirmCreateModal (onClose)="onConfirmCreateModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">信息</h4>
    </modal-header>
    <modal-body>
      {{resultText}}
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="confirmCreateModal.close()">确定</button>
    </modal-footer>
  </form>
</modal>


<form [formGroup]="formModel" novalidate (ngSubmit)="onSubmit()">


  <div class="panel panel-default">
    <div class="panel-heading">
      基本信息
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <input type="hidden" formControlName="id">
          <div class="form-group">
            <label for="sheetNumber">入库编号</label>
            <input id="sheetNumber" type="text" class="form-control" formControlName="sheetNumber">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group ">
            <label for="vendor">供应商</label>
            <input id="vendor" type="text" class="form-control" formControlName="vendor">
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group ">
            <label for="vendorContact">供应商联系人</label>
            <input id="vendorContact" type="text" class="form-control" formControlName="vendorContact">
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <input type="hidden" formControlName="id">
            <label for="operator">经办人</label> <span color="red" class="text-danger"
                                                    [hidden]="formModel.controls.operator.valid">*</span>
            <input id="operator" type="text" class="form-control" formControlName="operator">
            <small *ngIf="!formModel.controls.operator.valid" class="text-danger">
              经办人不能为空
            </small>
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="auditor">核对人</label> <span color="red" class="text-danger"
                                                   [hidden]="formModel.controls.auditor.valid">*</span>
            <input id="auditor" type="text" class="form-control" formControlName="auditor">
            <small *ngIf="!formModel.controls.auditor.valid" class="text-danger">
              核对人不能为空
            </small>
          </div>

        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="comments">备注</label> <span color="red" class="text-danger"
                                                   [hidden]="formModel.controls.comments.valid">*</span>
            <input id="comments" type="text" class="form-control" formControlName="comments">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="isaac-margin-top">
    <span>添加新入库商品</span>
    <div class="form-inline">
      <div>
        <div class="dropdown" [class.open]="searchedItems.length>0">

          <input autocomplete="off" (click)="stopPropagation($event)" (focusout)="stopPropagation($event)"
                 (focus)="stopPropagation($event)"
                 type="text" class="form-control dropdown-toggle"
                 placeholder="请输入物品名称的汉语拼音" [formControl]="searchInput"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2"
          >
          <small [hidden]="searchInput.valid || searchInput.pristine" class="text-danger">
            最少1个字符
          </small>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li *ngFor="let searchedItem of searchedItems">
              <a href="javascript:void(0)" (click)="onSearchedItemSelected(searchedItem)">{{searchedItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="isaac-margin-15top" formArrayName="importItemList">
    <label>入库明细</label>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>单位</th>
        <th>规格</th>
        <th>批次号</th>
        <th>数量</th>
        <th>单价</th>
        <th>金额</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let importItem of importItemListData.controls; let i=index" [formGroupName]="i">
        <td style="min-width: 50px">{{i+1}}</td>
        <td style="min-width: 150px">
          <label>{{importItem.controls['name'].value}}</label>
        </td>
        <td style="min-width: 50px">
          <label>{{importItem.controls['unit'].value}}</label>
        </td>
        <td style="min-width: 50px;">
          <label>{{importItem.controls['specification'].value}}</label>
        </td>
        <td>
          <input class="form-control" type="text" formControlName="batchNumber">
          <small [hidden]="importItem.controls.batchNumber.valid" class="text-danger">
            批次号不能为空
          </small>
        </td>

        <td>
          <input class="form-control" type="text" formControlName="amount">
          <small [hidden]="importItem.controls.amount.valid" class="text-danger">
            数量不能为空
          </small>
        </td>

        <td>
          <input class="form-control" type="text" formControlName="pricePerUnit">
          <small [hidden]="importItem.controls.pricePerUnit.valid" class="text-danger">
            单价不能为空
          </small>
        </td>
        <td>
          <input class="form-control" type="text" formControlName="totalPrice">
          <small [hidden]="importItem.controls.totalPrice.valid" class="text-danger">
            金额不能为空
          </small>
        </td>
        <td>
          <input class="form-control" type="text" formControlName="comments">
        </td>
        <td>
       <span class="glyphicon glyphicon-remove"
             (click)="removeItem(i)">
                </span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!formModel.valid">确认</button>

</form>



