<div class="row">
  <h1 class="page-header">医院就诊</h1>
</div>

<div class="col-lg-3 col-xs-12">
  <div class="small-box bg-green">
    <div class="inner">
      <h3>Company</h3>
      <p id="numberOfCompanyStuctures">
        Departments
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-shuffle"></i>
    </div>
    <a class="small-box-footer" id="companyLink">
      Manage Company <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        People
      </h3>
      <p id="numberOfEmployees">
        Employees
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-person-stalker"></i>
    </div>
    <a href="#_moduleLink_#" class="small-box-footer" id="employeeLink">
      Manage
      Employees
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>Users</h3>
      <p id="numberOfUsers">
        Users
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-person-add"></i>
    </div>
    <a class="small-box-footer" id="usersLink">
      Manage Users <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">

  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        Permission
      </h3>
      <p>
        Management
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-locked"></i>
    </div>
    <a href="#_moduleLink_#" class="small-box-footer" id="permissionLink">
      Manage Permissions <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>
