<div class="row">
  <div class="col-md-3">

    <div class="row">
      <div class="btn-group">
        <button title="添加部门"
                class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
      </div>

      <div class="btn-group">
        <button title="删除所选部门"
                class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
      </div>

    </div>

    <div class="row panel panel-default isaac-margin-15top">
      <div class="panel-heading">
       诊疗科室列表
      </div>
      <div class="panel-body">
        <tree-root #tree (activate)="onNodeActivated($event)" [nodes]="nodes"></tree-root>
      </div>
    </div>

  </div>
  <div class="col-md-9">
    <app-treatment-room-detail [departmentId]="selectedDepartmentId"></app-treatment-room-detail>
  </div>
</div>
