<div class="row">
    <div class="col-md-2">
        <label for="vendor">供应商名称:</label>
        <input id="vendor" name="vendor" [(ngModel)]="query.vendor" class="form-control" type="text">
    </div>
    <div class="col-md-2">
      <label for="startDate">起始日期: </label>
      <my-date-picker id="startDate" name="mydate" [options]="myDatePickerOptions"
                      [(ngModel)]="startDate" required></my-date-picker>
    </div>
    <div class="col-md-2">
      <label for="endDate">结束日期: </label>
      <my-date-picker id="endDate" name="mydate" [options]="myDatePickerOptions"
                      [(ngModel)]="endDate" required></my-date-picker>
    </div>

    <div class="col-md-2">
      <label for="patientRecordId">申请状态: </label>
      <input [(ngModel)]="query.status" id="patientRecordId" class="form-control" type="text">
    </div>
    <div class="col-md-4 btn-group isaac-margin-20top">
      <button class="btn btn-default" (click)="onSearchButtonClicked()">查询</button>
      <button class="btn btn-default isaac-align-bottom">清除</button>
      <button class="btn btn-default isaac-align-bottom" (click)="onCreateNewRequestButtonClicked()">创建新的申请</button>
    </div>


  <form class="form-inline" role="form">
    <div class="form-group isaac-form-space">

    </div>
    <!--
    <div class="form-group isaac-form-space">
      <label for="contact">联系人: </label>
      <input id="contact" class="form-control" type="text">
    </div>
    <div class="form-group isaac-form-space">
      <label for="goodName">商品名称: </label>
      <input id="goodName" class="form-control" type="text">
    </div>
    -->


  </form>
</div>

<div class="row isaac-margin-15top">
  <label>共有{{procurements?.length}}笔订货单 订货总金额共{{getTotalPrice()}}元</label>
</div>

<div class="row fixed-height isaac-margin-15top">
  <split [direction]="direction">
    <split-area size="30">
      <table class="table table-bordered table-responsive">
        <thead>
        <tr>
          <th>编号</th>
          <th>采购状态</th>
          <th>供应商编号</th>
          <th>供应商名称</th>
          <th>联系人</th>
          <th>总项数</th>
          <th>订货总金额</th>
          <th>制单时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let procurement of procurements" (click)="onRowClicked(procurement) "
            [class.info]="isRowSelected(procurement)">
          <td>{{procurement.orderNumber}}</td>
          <td>{{procurement.status}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.vendorId}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.vendor}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.contact}}</td>
          <td>{{procurement.procurementRequest?.goods.length}}</td>
          <td>{{procurement.procurementRequest.totalPrice}}</td>
          <td>{{procurement.procurementRequest?.submittedData | date:'yyyy年MM月dd日 HH:mm:ss' }}</td>
        </tr>
        </tbody>
      </table>
    </split-area>
    <split-area size="70">
      <app-procurement-purchase-detail [procurement]="selectedProcurement"></app-procurement-purchase-detail>
    </split-area>
  </split>
</div>
