<div class="row">
  <form class="form-inline" role="form">
    <div class="form-group isaac-form-space">
      <label for="vendor">供应商名称:</label>
      <input id="vendor" class="form-control" type="text">
    </div>
    <!--
    <div class="form-group isaac-form-space">
      <label for="contact">联系人: </label>
      <input id="contact" class="form-control" type="text">
    </div>
    <div class="form-group isaac-form-space">
      <label for="goodName">商品名称: </label>
      <input id="goodName" class="form-control" type="text">
    </div>
    -->
    <div class="form-group isaac-form-space">
      <label for="startDate">起始日期: </label>
      <input id="startDate" class="form-control" type="text">
      <label for="endDate">结束日期: </label>
      <input id="endDate" class="form-control" type="text">
    </div>
    <div class="form-group isaac-form-space">
      <label for="patientRecordId">申请状态: </label>
      <input id="patientRecordId" class="form-control" type="text">
    </div>
    <button type="btn btn-default">查询</button>
    <button type="btn btn-default">清除</button>
    <button type="btn btn-default" (click)="onCreateNewRequestButtonClicked()">创建新的申请</button>
  </form>
</div>

<div class="row isaac-margin-15top">
  <label>共有{{procurements?.length}}笔订货单  订货总金额共{{getTotalPrice()}}元</label>
</div>

<div class="row fixed-height isaac-margin-15top">
  <split [direction]="direction">
    <split-area size="30">
      <table class="table table-bordered table-responsive">
        <thead>
        <tr>
          <th>编号</th>
          <th>采购状态</th>
          <th>供应商编号</th>
          <th>供应商名称</th>
          <th>联系人</th>
          <th>总项数</th>
          <th>订货总金额</th>
          <th>制单时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let procurement of procurements" (click)="onRowClicked(procurement) "
            [class.info]="isRowSelected(procurement)">
          <td>{{procurement.orderNumber}}</td>
          <td>{{procurement.status}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.vendorId}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.vendor}}</td>
          <td>{{procurement.procurementRequest?.vendorInfo.contact}}</td>
          <td>{{procurement.procurementRequest?.goods.length}}</td>
          <td>{{procurement.procurementRequest.totalPrice}}</td>
          <td>{{procurement.procurementRequest?.submittedData | date:'yyyy年MM月dd日 HH:mm:ss' }}</td>
        </tr>
        </tbody>
      </table>
    </split-area>
    <split-area size="70">
        <app-procurement-purchase-detail [procurement]="selectedProcurement"></app-procurement-purchase-detail>
    </split-area>
  </split>
</div>
