<div class="row">
  <h1 class="page-header">出院办理</h1>
</div>




<div class="row">

</div>

<div class="row isaac-margin-15top">
</div>

<div class="row fixed-height isaac-margin-15top">
  <split [direction]="'vertical'">
    <split-area [size]="30">
      <table class="table table-bordered table-responsive">
        <thead>
        <tr>
          <th>编号</th>
          <th>状态</th>
          <th>编号</th>
          <th>名称</th>
          <th>联系人</th>
          <th>总项数</th>
          <th>总金额</th>
          <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </split-area>
    <split-area [size]="70">
    </split-area>
  </split>
</div>
