<modal cssClass="modal-x1" #createMedicalTestReportModal (onClose)="onCreateMedicalTestReportModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">请确认</h4>
    </modal-header>
    <modal-body style="padding: 10px">

      <h1 class="page-header">新建化验报告</h1>

      <form [formGroup]="formModel" novalidate>

        <div class="panel panel-default">
          <div class="panel-heading">
            基本信息
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>化验报告名称</label>
                  <input readonly type="text" class="form-control" formControlName="reportName">
                </div>
              </div>
              <div formArrayName="reportInfoList">
                <div class="col-md-3" *ngFor="let infoItem of reportInfoData.controls; let i=index" [formGroupName]="i">
                  <div class="form-group">
                    <label>{{reportInfoData.controls[i].controls['reportKey'].value}}</label>
                    <!--<label>{{reportTemplate.reportInfoList[i].reportKey}}</label>-->
                    <input type="hidden" formControlName="reportKey">
                    <input type="text" class="form-control" formControlName="reportValue">
                    <small [hidden]="reportInfoData.controls[i].controls['reportValue'].valid" class="text-danger">
                      此报告项名称不可为空
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" [disabled]="!formModel.valid"
              (click)="createMedicalTestReportModal.close()">确定
      </button>
      <button type="button" class="btn btn-default" data-dismiss="createMedicalTestReportModal"
              (click)="createMedicalTestReportModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>


<modal cssClass="modal-x1" #viewMedicalTestReportModal (onClose)="onViewMedicalTestReportModalClosed()">
  <modal-header [show-close]="true">
    <h4 class="modal-title">查看化验报告</h4>
  </modal-header>
  <modal-body style="padding: 10px">

    <app-medical-test-report-view [medicalTestReportId]="selectedReportId"></app-medical-test-report-view>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary"
            (click)="viewMedicalTestReportModal.close()">关闭
    </button>
  </modal-footer>
</modal>

<div *ngIf="treatmentCase==null" class="isaac-margin-15top">
  <h4>请从病历列表中选择具体病历查看详细信息</h4>
</div>

<div *ngIf="treatmentCase!=null" class="isaac-margin-15top">


  <div class="panel panel-info isaac-margin-15top">
    <div class="panel-heading">
      基本信息
    </div>
    <div class="panel-body">

      <form [formGroup]="treatmentCaseBasicInfoModel" (submit)="onSaveTreatmentCaseBasicInfo()" novalidate>
        <div class="isaac-margin-15top col-md-12">
          <span><b>主人描述</b></span>
          <textarea formControlName="petOwnerDescription" rows="3" class="form-control"></textarea>
        </div>

        <div class="isaac-margin-15top col-md-12">
          <span><b>临床检查</b></span>
          <textarea formControlName="clinicSituation" rows="3" class="form-control"></textarea>
        </div>

        <div class="isaac-margin-15top col-md-12">
          <span><b>医生诊断</b></span>
          <textarea formControlName="doctorDiagnose" rows="3" class="form-control"></textarea>
        </div>

        <div class="isaac-margin-15top col-md-12">
          <span><b>医嘱</b></span>
          <textarea formControlName="doctorAdvice" rows="3" class="form-control"></textarea>
        </div>
        <div class="isaac-margin-15top col-md-3">
          <button class="btn btn-default" type="submit">保存病历</button>
        </div>
      </form>

    </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">
      化验详情
    </div>
    <div class="panel-body">

      <div class="verlink-bottom">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="onAddReportFinished()">打印化验收费单</div>
        </div>
      </div>

      <table class="table table-bordered isaac-margin-15top">
        <thead>
        <tr>
          <th>序号</th>
          <th>化验名称</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medicalTestReport of medicalTestReportList;let i=index">
          <td>{{i+1}}</td>
          <td>{{medicalTestReport.reportName}}</td>
          <td>{{getMedicalTestReportStatus(medicalTestReport)}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button (click)="onViewMedicalTestReport(medicalTestReport)"
                      [disabled]="!isMedicalTestFinished(medicalTestReport)" type="button"
                      class="btn btn-default btn-s"><span
                class="glyphicon glyphicon-search"></span></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


      <div class="verlink">
        <label>添加化验检查项目</label>
        <div class="dropdown" [class.open]="medicalTestReportTemplates.length>0">
          <input (click)="stopPropagation($event)" (focusout)="stopPropagation($event)"
                 (focus)="stopPropagation($event)"
                 type="text" class="form-control dropdown-toggle"
                 placeholder="输入化验报告名称关键字汉语拼音" [formControl]="searchInput"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2"
          >
          <small [hidden]="
          searchInput.valid || searchInput.pristine" class="text-danger">
            最少1个字符
          </small>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li *ngFor="let medicalTestReportTemplate of medicalTestReportTemplates">
              <a href="javascript:void(0)" (click)="onMedicalTestReportTemplateSelected(medicalTestReportTemplate)">{{medicalTestReportTemplate.reportName}}</a>
            </li>
          </ul>
        </div>
      </div>

      <table class="table table-bordered isaac-margin-15top">
        <thead>
        <tr>
          <th>序号</th>
          <th>化验名称</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medicalTestReport of medicalTestReportUnsubmittedList;let i=index">
          <td>{{i+1}}</td>
          <td>{{medicalTestReport.reportName}}</td>
          <td>{{getMedicalTestReportStatus(medicalTestReport)}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button (click)="onRemoveReportClicked(medicalTestReport)" type="button"
                      class="btn btn-default btn-s"><span
                class="glyphicon glyphicon-remove"></span></button>
            </div>
          </td>
        </tr>
        </tbody>

      </table>


      <div class="verlink-bottom">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="onAddReportFinished()">提交</div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      开药详情
    </div>
    <div class="panel-body">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>品名</th>
          <th>规格</th>
          <th>销售单位</th>
          <th>销售数量</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prescription of prescriptions;let i=index">
          <td>{{i+1}}</td>
          <td>{{prescription.medicineNumber}}</td>
          <td>{{prescription.medicineName}}</td>
          <td>{{prescription.medicineSpecification}}</td>
          <td>{{prescription.medicineCount}}</td>
        </tr>
        </tbody>
      </table>


      <div class="verlink">
        <label>添加药品</label>
        <div class="dropdown" [class.open]="medicineSearchResults.length>0">

          <input (click)="stopPropagation($event)" (focusout)="stopPropagation($event)"
                 (focus)="stopPropagation($event)"
                 type="text" class="form-control dropdown-toggle"
                 placeholder="输入化验报告名称关键字汉语拼音" [formControl]="medicineSearchInput"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu3"
          >
          <small [hidden]="
          medicineSearchInput.valid || medicineSearchInput.pristine" class="text-danger">
            最少1个字符
          </small>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li *ngFor="let medicineSearchResult of medicineSearchResults">
              <a href="javascript:void(0)" (click)="onMedicineSearchResultSelected(medicineSearchResult)">{{medicineSearchResult.name}}</a>
            </li>
          </ul>
        </div>
      </div>


      <table class="table table-bordered isaac-margin-15top">
        <thead>
        <tr>
          <th>序号</th>
          <th>品名</th>
          <th>规格</th>
          <th>销售单位</th>
          <th>销售数量</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medicalTestReport of medicalTestReportUnsubmittedList;let i=index">
          <td>{{i+1}}</td>
          <td>{{medicalTestReport.reportName}}</td>
          <td>{{getMedicalTestReportStatus(medicalTestReport)}}</td>
          <td></td>
          <td></td>
          <td>
            <div class="btn-group btn-group-sm">
              <button (click)="onRemoveReportClicked(medicalTestReport)" type="button"
                      class="btn btn-default btn-s"><span
                class="glyphicon glyphicon-remove"></span></button>
            </div>
          </td>
        </tr>
        </tbody>

      </table>


    </div>
  </div>
</div>

