<div class="row">
  <h1 class="page-header">其他管理</h1>
</div>

<div class="row">
  <div class="navbar-default sidebar-2nd-level" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li><a routerLink="/procurement-settings/vendors" routerLinkActive="active">供应商管理</a></li>
        <li><a routerLink="/procurement-settings/procurement-status" routerLinkActive="active">采购流程管理</a></li>
        <li><a routerLink="/procurement-settings/procurement-workflow" routerLinkActive="active">审批流程管理</a></li>
      </ul>
    </div>
  </div>

  <div id="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
