
<td><input class="form-control" type="text" formControlName="name"></td>
<td><input class="form-control" type="text" formControlName="packageSpecification"></td>
<td><input class="form-control" type="text" formControlName="packageUnit"></td>
<td><input class="form-control" type="text" formControlName="number"></td>
<td><input class="form-control" type="text" formControlName="unitPrice"></td>
<td><input class="form-control" type="text" formControlName="totalPrice"></td>

<!--
<div [formGroup]="good">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>产品名称</label><span color="red" class="text-danger"
                                 [hidden]="good.controls.name.valid">*</span>
        <input class="form-control" type="text" formControlName="name">
        <small [hidden]="good.controls.name.valid" class="text-danger">
          产品名称不能为空
        </small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>包装规格</label><span color="red" class="text-danger"
                               [hidden]="good.controls.packageSpecification.valid">*</span>
        <input class="form-control" type="text" formControlName="packageSpecification">
        <small [hidden]="good.controls.packageSpecification.valid" class="text-danger">
          包装规格不能为空
        </small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>包装单位</label><span color="red" class="text-danger"
                               [hidden]="good.controls.packageUnit.valid">*</span>
        <input class="form-control" type="text" formControlName="packageUnit">
        <small [hidden]="good.controls.packageUnit.valid" class="text-danger">
          包装单位不能为空
        </small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>数量</label><span color="red" class="text-danger"
                               [hidden]="good.controls.number.valid">*</span>
        <input class="form-control" type="text" formControlName="number">
        <small [hidden]="good.controls.number.valid" class="text-danger">
          数量不能为空
        </small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>单价</label><span color="red" class="text-danger"
                               [hidden]="good.controls.number.valid">*</span>
        <input class="form-control" type="text" formControlName="number">
        <small [hidden]="good.controls.number.valid" class="text-danger">
          数量不能为空
        </small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>总价</label><span color="red" class="text-danger"
                               [hidden]="good.controls.number.valid">*</span>
        <input class="form-control" type="text" formControlName="number">
        <small [hidden]="good.controls.number.valid" class="text-danger">
          数量不能为空
        </small>
      </div>
    </div>
  </div>
</div>
-->
