<div *ngIf="importReceiptId=== undefined ">
  请选择入库单
</div>

<div class="isaac-margin-15top" *ngIf="importReceiptId!= undefined && importSheet!=null">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>单位</th>
      <th>规格</th>
      <th>数量</th>
      <th>单价</th>
      <th>金额</th>
      <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of importSheet.importItemList;let i=index">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.specification}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.pricePerUnit}}</td>
      <td>{{item.totalPrice}}</td>
      <td>{{item.comments}}</td>
    </tr>
    </tbody>

  </table>
</div>
