<div *ngIf="procurement!=null">
  <div class="panel panel-default">
    <div class="panel-heading">
      操作
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>更新当前采购状态</label>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle isaac-dropdown-250button" type="button" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedStatus}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li *ngFor="let status of flatenP">
              <a (click)="onStatusDropdownClicked(status)">{{status}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<app-procurement-request-detail [procurement]="procurement"></app-procurement-request-detail>

