<div class="row">
  <h1 class="page-header">客户服务</h1>
</div>

<div class="row">
  <app-query-bar #searchBar (searchCriteriaCreatedEvent)="onSearchCriteriaCreated($event)"></app-query-bar>
</div>
<div class="row">
  <app-customer [treatmentCases]="filteredTreatmentCases"
                [treatmentCaseComments]="treatmentCaseComments"
                [selectedTreatmentCase]="selectedTreatmentCase"
                (treatmentCaseSelectedEvent)="onTreatmentCaseSelected($event)"
                (createCommentEvent)="onCreateComment($event)"
                [tabs]="tabs"
                (outActivateTab)="activateTab($event)"
  >

  </app-customer>
</div>
