<div class="list-group doctor-list">
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
  <li class="list-group-item"><doctor-list-item></doctor-list-item></li>
</div>
