<div class="row">
  <h1 class="page-header">看病挂号</h1>
</div>


<div *ngFor="let department of departments" class="col-lg-3 col-xs-12">
  <a href="javascript:void(0)" (click)="onDepartmentClicked(department)">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{department.name}}</h3>
        <p>
          {{department.description}}
        </p>
      </div>
      <div class="icon">
        <i class="fa fa-user-md"></i>
      </div>
      <a href="javascript:void(0)" (click)="onDepartmentClicked(department)" class="small-box-footer">
        挂号<i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </a>
</div>

