<div class="row">
  <h1 class="page-header">看病挂号</h1>
</div>


<div class="col-lg-3 col-xs-12">
  <a href="javascript:void(0)">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>外科</h3>
        <p>
          这是科室的简要介绍
        </p>
      </div>
      <div class="icon">
        <i class="fa fa-user-md"></i>
      </div>
      <a href="javascript:void(0)" class="small-box-footer">
        挂号<i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </a>
</div>

<div class="col-lg-3 col-xs-12">
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        内科
      </h3>
      <p>
        这是科室的简要介绍
      </p>
    </div>
    <div class="icon">
      <i class="fa fa-user-md"></i>
    </div>
    <a href="javascript:void(0)" class="small-box-footer" id="employeeLink">
      挂号
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>

<div class="col-lg-3 col-xs-12">
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        骨科
      </h3>
      <p>
        这是科室的简要介绍
      </p>
    </div>
    <div class="icon">
      <i class="fa fa-user-md"></i>
    </div>
    <a href="javascript:void(0)" class="small-box-footer" id="employeeLink">
      挂号
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>


<div class="col-lg-3 col-xs-12">
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
        营养科
      </h3>
      <p>
        这是科室的简要介绍
      </p>
    </div>
    <div class="icon">
      <i class="fa fa-user-md"></i>
    </div>
    <a href="javascript:void(0)" class="small-box-footer" id="employeeLink">
      挂号
      <i class="fa fa-arrow-circle-right"></i>
    </a>
  </div>
</div>




