<div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>
          姓名
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employeeList" [class.info]="isRowSelected(employee)"
          (click)="onRowClicked(employee)">
        <td>{{employee?.fullName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-9">
    <app-treatment-room-employee-detail [depId]="departmentId" [employee]="selectedEmployee"></app-treatment-room-employee-detail>

  </div>
</div>
