<div class="row isaac-margin-15top">

  <div class="col-md-3">


    <!--
    <div class="btn-group isaac-margin-15top">
      <button (click)="onCreateNewTemplateClicked()" class="btn btn-primary" type="button">添加新报告模板</button>
    </div>
    -->

    <app-category-tool-bar
      [canDelete]="true"
      [canEdit]="true"
      [canCreateChildNode]="true"
      [canCreateRootNode]="true"
      [selectedNode]="getSelectedNode() | async"
      (subNodeCreated)="onSubNodeCreated($event)"
      (nodeDeleted)="onNodeDeleted($event)"
      (nodeUpdated)="onNodeUpdated($event)"
      (nodeExpanded)="onNodeExpanded()"
      class="isaac-margin-15top"
    ></app-category-tool-bar>

    <app-medical-test-settings-report-template-list
      (createNewTemplateClick)="onCreateNewTemplateClicked()"
      (nodeSelected)="onNodeSelected($event)"

      [nodes]="categoryNodes$|async"
    >
    </app-medical-test-settings-report-template-list>

    <!--
    <app-medical-test-settings-report-template-list
      (createNewTemplateClick)="onCreateNewTemplateClicked()"
      [list]="reportTemplates$|async"></app-medical-test-settings-report-template-list>
      -->
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
