<div>
  <ul class="nav nav-tabs ">
    <li routerLinkActive="active">
      <a routerLink="info" class="text-center">宠物资料</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="treatment-cases" class="text-center">宠物病历</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="medical-tests" class="text-center">宠物检查</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="treatment-prescriptions" class="text-center">宠物处方</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
