/* You can add global styles to this file, and also import other style files */
@import "assets/sb-admin-2.css";


div.panel-heading
{
  padding: 4px 10px;
}
div.panel-info
{
  margin-top: 15px;
}

.isaac-dropdown-button
{
  min-width: 160px;
}

.isaac-form-space {
  margin-left: 10px;
  margin-top:5px;
}
.isaac-datepicker-width{
  max-width: 200px;
  width:200px;
}

.isaac-margin-top {
  margin-top: 5px;
}


.isaac-margin-left-10 {
  margin-left: 10px;
}
.isaac-margin-bottom100px {
  margin-bottom: 100px;
}

.isaac-margin-15top {
  margin-top: 15px;
}
.isaac-margin-20top {
  margin-top: 20px;
}
.isaac-margin-25top {
  margin-top: 25px;
}



app-checkbox {
  display: flex;
  align-items: center;
  padding: 20px;
  align-self: stretch;
  border-right: 1px solid rgba(0, 0, 0, .06);
  background-color: rgba(0, 0, 0, .02);
  margin-right: 20px;
}

app-checkbox:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: hsla(0, 0%, 100%, .26);
  border: 2px solid rgba(0, 0, 0, .24)
}

app-checkbox .label {
  display: block;
  position: relative;
  cursor: pointer
}

app-checkbox .input {
  display: block;
  opacity: 0;
  appearance: none;
  width: 20px;
  height: 20px;
}

app-checkbox .text {
  display: block;
  margin-left: 30px;
}

app-checkbox .text:before {
  content: "✓";
  font-family: entypo, sans-serif;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 30px;
  color: transparent;
  transition: all .2s ease;
  transform: scale(.5)
}

app-checkbox .input:checked + .text:before {
  color: #68be60;
  transform: scale(1)
}
