/* You can add global styles to this file, and also import other style files */

.large-panel-margin  {
  margin-top: 50px;
}

.isaac-form-space {
  margin-left: 10px;
  margin-top:5px;
}
.isaac-datepicker-width{
  max-width: 200px;
  width:200px;
}

.isaac-margin-top {
  margin-top: 5px;
}

.isaac-margin-bottom100px {
  margin-bottom: 100px;
}

.isaac-margin-15top {
  margin-top: 15px;
}
.isaac-margin-20top {
  margin-top: 20px;
}
.isaac-margin-25top {
  margin-top: 25px;
}

.light-blue-label {
  font-size: 14px !important;
  color: #3c8dbc;
}
.head-photo
{
  text-align:center;
  vertical-align: top;
}
.head-photo img
{
  height:70px;
  border-radius: 50%;

}
.doctor-details
{
  vertical-align: top;
}
.doctor-score
{
  vertical-align: top;
  text-align:center;
  margin-top:25px;
}
.doctor-book
{
  vertical-align: top;
  margin-top:25px;
}

.isaac-dropdown-button
{
  min-width: 160px;
}
.isaac-dropdown-250button
{
  min-width: 250px;
}
.sidebar-2nd-level {
  z-index: 1;
  position: absolute;
  width: 250px;
}

@media (min-width: 768px) {
  .mysidebar {
    max-width:250px;
  }
}

@media (min-width: 768px) {
  .subsidebar {
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .subsidebar2 {
    margin-top: 250px;
  }
}

.table td{
  text-align:center;
}
.table th{
  text-align:center;
}

.form-control-noborder
{
  border-width: 0px;
}
.fixed-height
{
  height: 768px;
}

.isaac-align-bottom{
  display:table-cell;
  vertical-align: bottom;
}

.isaac-badge{
  font-size: 10px;
  background-color: #fd0304;
}
