<div *ngIf="departmentId=== undefined ">
  请从列表中选择一个部门进行操作
</div>


<div *ngIf="departmentId!== undefined">

  <div class="panel panel-default">
    <div class="panel-heading">
      <label>设置 <b>{{this.departmentName}}</b></label>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <div>
            <div class=" pull-left">
              设置为化验室
            </div>
            <div class="pull-right">
              <ui-switch size="small"
                         [ngModel]="this.department?.enable"
                         (change)="onMedicalTestRoomSwitchChanged($event)"></ui-switch>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="this.department?.enable">
    <app-medical-test-settings-department-report-templates [departmentId]="departmentId"></app-medical-test-settings-department-report-templates>
  </div>
</div>
