<div *ngIf="showTitle" class="row">
  <h1 class="page-header">业务设置</h1>

</div>

<app-treatment-settings-chargeable-category [canEdit]="canEdit"
                                            [canDelete]="canDelete"
                                            [financePriceService]="financePriceService"
                                            [canCreateNewItem]="canCreateNewItem"
                                            [showToolBox]="showToolBox"></app-treatment-settings-chargeable-category>

