<div>
  <label>状态</label>
  <div class="btn-group" role="group">
    <button type="button"
            class="btn btn-default dropdown-toggle isaac-dropdown-button" id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      {{selectedStatusText}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="javascript:void(0)" *ngFor="let status of registrationStatusArr"
             (click)="onStatusClicked(status[0])">
        {{status[1]}}</a></li>
    </ul>

  </div>
</div>

<div>
  <table *ngIf="pageData?.content.length>0" class="table table-bordered isaac-margin-15top">
    <thead>
    <tr role="row">
      <th>序号</th>
      <th>主人姓名</th>
      <th>宠物名称</th>
      <th>医生</th>
      <th>创建日期</th>
      <th>当日序号</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
    <tr *ngFor="let registration of pageData?.content | paginate: {
                                                      itemsPerPage: pageData?.size,
                                                      currentPage: pageData?.number+1,
                                                      totalItems: pageData?.totalElements } ; let i=index">
      <td>{{i+1}}</td>
      <td></td>
      <td>{{registration.pet.name}}</td>
      <td>{{registration.doctor.name}}</td>
      <td>{{registration.createdDate|date:'yyyy年MM月dd日'}}</td>
      <td>{{registration.indexOfDay}}</td>
      <td>{{registration.registrationStatus | registrationStatusEnum}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="alert alert-info isaac-margin-15top" *ngIf="pageData?.content.length===0" role="alert">
  无数据
</div>

<pagination-controls (pageChange)="onPageChanged($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>

