<div class="row">
  <button type="btn btn-default" (click)="onCreateNewRequestButtonClicked()">创建新的申请</button>
</div>

<div class="row">
  <div class="col-lg-2">

    <table class="table">
      <thead>
      <tr>
        <th>编号</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let procurement of list" (click)="onRowClicked(procurement)"
          [class.info]="isRowSelected(procurement)">
        <td>{{procurement.orderNumber}}</td>
        <td>{{procurement.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-10">
    <app-procurement-request-detail [procurement]="selectedProcurement"></app-procurement-request-detail>
  </div>
</div>
