<modal #vendorListModal (onClose)="onVendorListModalModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">信息</h4>
    </modal-header>
    <modal-body>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let vendor of vendors" (click)="onVendorSelected(vendor)">
          {{vendor.name}}
        </li>
      </ul>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="vendorListModal.close()">确定</button>
    </modal-footer>
  </form>
</modal>

<div class="row">
  <h1 class="page-header text-center">
    采购单
  </h1>
</div>
<div class="row">
  <button class="btn btn-default" (click)="onGenerateOrderButtonClicked()" class="btn btn-default">生成采购订单</button>
  <button class="btn btn-default" (click)="onSpecifyVendorButtonClicked()" class="btn btn-default">指定供应商</button>
</div>

<form [formGroup]="formModel" novalidate (ngSubmit)="onSubmit()">


  <div class="row">

    <div class="form-group">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="procurementId">
    </div>
    <div formArrayName="goods">
      <table class="table table-bordered table-responsive table-hover table-striped
          table-condensed">
        <thead>
        <tr>
          <td>产品名称</td>
          <td>供应商</td>
          <td>联系人</td>
          <td>联系人电话</td>
          <td>包装规格</td>
          <td>包装单位</td>
          <td>单价</td>
          <td>购买数量</td>
          <td>总价</td>
          <td>备注</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let good of goodsData.controls; let i=index" [formGroupName]="i">
          <td><input type="text" class="form-control" formControlName="name"></td>
          <td><input type="text" class="form-control" formControlName="vendor"></td>
          <td><input type="text" class="form-control" formControlName="contact"></td>
          <td><input type="text" class="form-control" formControlName="contactTelephone"></td>
          <td><input type="text" class="form-control" formControlName="packageSpecification"></td>
          <td><input type="text" class="form-control" formControlName="packageUnit"></td>
          <td><input type="text" (change)="onPerUnitChange(i)" class="form-control" formControlName="pricePerUnit"></td>
          <td><input type="text" (change)="onUnitChange(i)" class="form-control" formControlName="number"></td>
          <td><input type="text" class="form-control" formControlName="totalPrice"></td>
          <td><input type="text" class="form-control" formControlName="otherRequirements"></td>
        </tr>
        <!--
        <template ngFor let-good [ngForOf]="goodsData.controls" let-i="index">
          <app-procurement-purchase-good-create-update [good]="good"></app-procurement-purchase-good-create-update>
        </template>
        -->
        </tbody>

      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 form-inline">
      <div class="form-group">
        <label>付款合计:</label>
        <input type="text" class="form-control form-control-static form-control-noborder" formControlName="totalPrice" readonly>
      </div>
    </div>
    <div class="col-md-3 form-inline">
      <div class="form-group">
        <label>大写:</label>
        <input type="text" class="form-control form-control-static form-control-noborder" formControlName="totalPrice" readonly>
      </div>
    </div>
  </div>
</form>
