<div class="fixed-height isaac-margin-15top">
  <split [direction]="'horizontal'">
    <split-area [size]="60">
      <app-treatment-prescription-detail
        (submitPrescription)="onSubmitPrescription($event)"
        (removePrescription)="onRemovePrescription($event)"
        [formModel]="formModel$|async"
      ></app-treatment-prescription-detail>

      <div class="verlink-bottom">
        <div class="btn-group">
          <button [disabled]="!formModel.valid" class="btn btn-primary" (click)="onSubmitPrescription()">提交</button>
        </div>
      </div>

    </split-area>
    <split-area [size]="40">
      <div style="padding-left: 10px">
        <app-treatment-prescription-medicine-selector
          (medicineSelected)="onMedicineSelected($event)"
        ></app-treatment-prescription-medicine-selector>
      </div>
    </split-area>
  </split>
</div>
