<div class="row">
  <h4 class="page-header">
    审批流程管理
  </h4>
</div>

<ul class="list-inline " *ngIf="approvalStages!=null">
  <li class="list-inline-item"
      *ngFor="let stage of approvalStages; let oIndex = index">
    <div *ngIf="oIndex!=approvalStages.length-1">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="javascript:void(0)" class="list-group-item">
            {{stage}}
          </a>
        </li>
        <li class="list-inline-item">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </li>
      </ul>
    </div>
    <div *ngIf="oIndex===approvalStages.length-1">
      <a href="javascript:void(0)" class="list-group-item">
        {{stage}}
      </a>
    </div>
  </li>
</ul>
