<modal #confirmDeleteModal (onClose)="onConfirmDeleteModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">请确认</h4>
    </modal-header>
    <modal-body>
      是否确定要删除所选择病历?
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="confirmDeleteModal.close()">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="confirmDeleteModal"
              (click)="confirmDeleteModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>


<div class="btn-group isaac-margin-15top">
  <button class="btn btn-default" (click)="onCreateTreatmentCase()">+新建病历</button>
</div>
<div class="row fixed-height-500 isaac-margin-15top">
  <split [direction]="'vertical'">
    <split-area [size]="20">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>病历日期</th>
          <th>医师</th>
          <th>主人描述</th>
          <th>临床检查</th>
          <th>医生诊断</th>
          <th>医嘱</th>
          <th>最后修改时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let treatmentCase of treatmentCases;let i=index" (click)="onRowClicked(treatmentCase)"
          [class.info]="isRowSelected(treatmentCase)">
          <td>{{i+1}}</td>
          <td>{{treatmentCase.treatmentDate|date:'yyyy年MM月dd日'}}</td>
          <td>{{treatmentCase.doctor}}</td>
          <td>{{treatmentCase.petOwnerDescription}}</td>
          <td>{{treatmentCase.clinicSituation}}</td>
          <td>{{treatmentCase.doctorDiagnose}}</td>
          <td>{{treatmentCase.doctorAdvice}}</td>
          <td>{{treatmentCase.lastModifiedDateTime| date:'yyyy年MM月dd日 HH:mm:ss'}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default btn-s"
                      (click)="onUpdateTreatmentCaseButtonClicked(treatmentCase)"><span
                class="glyphicon glyphicon-pencil"></span></button>
              <button type="button" class="btn btn-default btn-s" (click)="onRemoveTreatmentCaseButtonClicked(treatmentCase)"><span
                class="glyphicon glyphicon-remove"></span></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </split-area>
    <split-area [size]="80">
      <app-pet-treatment-detail [treatmentCase]="selectedTreatmentCase"></app-pet-treatment-detail>
    </split-area>
  </split>
</div>



