<div *ngIf="categoryId=== undefined ">
  请选择业务分类
</div>


<div *ngIf="categoryId!= undefined ">
  <modal #confirmDeletionModal (onClose)="onConfirmDeletionModalClosed()">
    <form #modalForm1="ngForm">
      <modal-header [show-close]="true">
        <h4 class="modal-title">请确认</h4>
      </modal-header>
      <modal-body>
        确定删除此产品 <b>{{itemToBeDeleted?.name}}</b> 信息?
      </modal-body>
      <modal-footer>
        <button type="button" class="btn btn-primary" (click)="confirmDeletionModal.close()">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="confirmDeletionModal"
                (click)="confirmDeletionModal.dismiss()">取消
        </button>
      </modal-footer>
    </form>
  </modal>


  <div role="group">
    <button *ngIf="canCreateNewItem" (click)="onCreateNewItemClicked()" class="btn btn-primary">新建产品信息</button>
  </div>


  <div class="isaac-margin-15top">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>单位</th>
        <th>规格</th>
        <th *ngIf="canShowAmount">数量</th>
        <th *ngIf="financePriceService" style="width: 230px">会员价</th>
        <th *ngIf="financePriceService" style="width: 230px">非会员价</th>
        <th *ngIf="canEdit || canDelete">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chargeableItem of chargeableItemList; let i=index">
        <td>{{i+1}}</td>
        <td>{{chargeableItem.name}}</td>
        <td>{{chargeableItem.unit}}</td>
        <td>{{chargeableItem.specification}}</td>
        <td *ngIf="canShowAmount">{{chargeableItem.amount}}</td>
        <td *ngIf="financePriceService">
          <app-field-edit [value]="chargeableItem.memberPrice"
                          (valueChanged)="onValueChanged($event, chargeableItem,'memberPrice')"></app-field-edit>
        </td>
        <td *ngIf="financePriceService">
          <app-field-edit [value]="chargeableItem.normalPrice"
                          (valueChanged)="onValueChanged($event,chargeableItem,'normalPrice')"></app-field-edit>
        </td>
        <td *ngIf="canEdit || canDelete">
          <a *ngIf="canEdit" href="javascript:void(0)"><span class="glyphicon glyphicon-pencil "
                                                             (click)="onEditButtonClicked(chargeableItem)"></span></a>
          <a *ngIf="canDelete" href="javascript:void(0)"> <span class="glyphicon glyphicon-remove isaac-margin-left-10"
                                                                (click)="removeReport(chargeableItem)"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
