<div *ngIf="departmentId=== undefined ">
  请从列表中选择一个部门进行操作
</div>
<div>
</div>
<div *ngIf="departmentId!== undefined">
  <div class="panel panel-default">
    <div class="panel-heading">
      设置
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <div>
            <div class=" pull-left">
              前台可见
            </div>
            <div class="pull-right">
              <ui-switch size="small"
              [ngModel]="this.department?.exposeToPublic"
              ></ui-switch>
              <!-- [ngModel]="this.vendorCategory?.departments[i].permitted"
               (change)="onChange(dep,$event)" -->
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>

  </div>


</div>
