<modal #confirmDeleteModal (onClose)="onConfirmDeleteModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">请确认</h4>
    </modal-header>
    <modal-body>
      是否确定要删除 <b>{{selectedNode?.name}} </b>分类
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="confirmDeleteModal.close()">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="confirmDeleteModal"
              (click)="confirmDeleteModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>

<modal #editNodeModal (onClose)="onEditNodeModalClosed()">
  <form #modalForm1="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">节点名称</h4>
    </modal-header>
    <modal-body>
      <input class="form-control" [formControl]="categoryName">
      <small [hidden]="categoryName.valid" class="text-danger">
        分类名称不能为空
      </small>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" [disabled]="!categoryName.valid"
              (click)="editNodeModal.close()">确定
      </button>
      <button type="button" class="btn btn-default" data-dismiss="editNodeModal"
              (click)="editNodeModal.dismiss()">取消
      </button>
    </modal-footer>
  </form>
</modal>

<div class="row">
  <div class="btn-group">
    <button [disabled]="!canCreateRootNode" title="添加起始分类" (click)="onAddRootNodeButtonClicked()" class="btn btn-default"><span
      class="glyphicon glyphicon-home"></span></button>
    <button [disabled]="!(selectedNode && canCreateChildNode)" title="添加子分类" (click)="onAddChildNodeButtonClicked()"
            class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    <button [disabled]="!(selectedNode && canEdit)" title="修改分类名称" (click)="onEditNodeButtonClicked()"
            class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
  </div>
  <div class="btn-group">
    <button title="展开所有分类" (click)="onExpandNodeButtonClicked()"
            class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
  </div>

  <div class="btn-group">
    <button [disabled]="!(selectedNode && canDelete)" title="删除所选分类" (click)="onRemoveNodeButtonClicked()"
            class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>
