<div class="row">

  <div class="btn-group" role="group">
    <button type="button"
            class="btn btn-default dropdown-toggle isaac-dropdown-button" id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      {{selectedModule}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let module of modules"><a href="javascript:void(0)"
                                            (click)="setSelectedModule(module)">{{module}}</a></li>
    </ul>
  </div>


</div>


<div *ngIf="selectedModule==='化验模块'">

  <app-medical-test-settings-report
    [financePriceService]="financePriceService"
    [canDelete]="false"
    [canEdit]="false"
    [canCreateNewItem]="false"
    [showToolBox]="false"
    [showTitle]="false"></app-medical-test-settings-report>

</div>
