<div class="row">
  <h1 class="page-header">员工管理</h1>
  <div class="linemarging">
    <div class="verlinktop">员工列表视图</div>
    <div class="verlink">
      <ui-switch size="small"
                 [ngModel]="showEmployeeView"
                 (change)="onShowEmployeeViewEnabled($event)"></ui-switch>
    </div>
  </div>
</div>

<app-employee-admin-list *ngIf="showEmployeeView===false"></app-employee-admin-list>
<app-employee-admin-list-only *ngIf="showEmployeeView===true"></app-employee-admin-list-only>



