<div class="row">
  <h1 class="page-header">模块设置</h1>
</div>

<div class="row">
  <div class="navbar-default sidebar-2nd-level" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li><a routerLink="report-templates" routerLinkActive="active">化验报告</a></li>
        <li><a routerLink="departments" routerLinkActive="active">科室设置</a></li>
      </ul>
    </div>
  </div>

  <div id="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
