<table cellpadding="0" cellspacing="0" border="0" class="table table-striped dataTable" id="grid"
       aria-describedby="grid_info" style="width: 1646px;">
  <thead>
  <tr role="row">
    <th class="sorting_disabled" tabindex="0" rowspan="1" colspan="1" aria-label="" style="width: 22px;"></th>
    <th class="header" tabindex="0" rowspan="1" colspan="1"
         style="width: 325px;">员工编号
    </th>
    <th class="header" tabindex="0" rowspan="1" colspan="1"
        aria-label="Nombre de pila: activate to sort column ascending" style="width: 237px;">姓名
    </th>
    <th class="header" tabindex="0" rowspan="1" colspan="1"
        aria-label="Teléfono móvil: activate to sort column ascending" style="width: 232px;">工作电话
    </th>
    <th class="header" tabindex="0" rowspan="1" colspan="1"
        style="width: 225px;">部门
    </th>
    <th class="header" tabindex="0" rowspan="1" colspan="1"
        style="width: 125px;">性别
    </th>
    <th class="header" tabindex="0" rowspan="1" colspan="1"
        style="width: 176px;">直接汇报
    </th>
    <th class="center header" tabindex="0" rowspan="1" colspan="1"
        style="width: 23px;"></th>
  </tr>
  </thead>
  <tbody role="alert" aria-live="polite" aria-relevant="all">
  <tr *ngFor="let employee of emplyeeList">
    <td class=""><img src="../../../../assets/images/male-profile.png"
                      style="width:45px;height: 45px;" alt="User Image"></td>
    <td class="">{{employee.employeeNumber}}</td>
    <td class="">{{employee?.surname}}{{employee?.givenName}}</td>
    <td class=""></td>
    <td class="">{{employee?.department?.name}}</td>
    <td class="">{{employee?.gender}}</td>
    <td class="">Male</td>
    <td class="center">
    </td>
  </tr>

  </tbody>
</table>
