
<div class="row">
  <h1 class="page-header">员工管理</h1>
</div>

<app-employee-admin-list></app-employee-admin-list>

<!--
<div class="row isaac-margin-top">
  <div class="button-group">
    <button class="btn btn-default" (click)="onAddNewEmployeeButtonClicked()">添加新员工</button>
  </div>
</div>

<table class="table">
  <thead>
  <tr role="row">
    <th></th>
    <th>员工编号</th>
    <th>姓名</th>
    <th>职位</th>
    <th>工作电话</th>
    <th>部门</th>
    <th>性别</th>
    <th>直接汇报</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody role="alert" aria-live="polite" aria-relevant="all">
  <tr *ngFor="let employee of emplyeeList">
    <img
      [src]="employee?.gender==='MALE'?'../../../../assets/images/male-profile.png':'../../../../assets/images/female-profile.png'"
      style="width:45px;height: 45px;" alt="User Image">
    <td>{{employee.employeeNumber}}</td>
    <td>{{employee?.fullName}}</td>
    <td>{{employee.jobTitle}}</td>
    <td>{{employee.workPhoneNumber}}</td>
    <td>{{employee?.departmentName}}</td>
    <td>{{employee?.gender==='MALE'?'男':'女'}}</td>
    <td>{{employee?.directReportTo}}</td>
    <td>
      <div class="button-group">
        <button type="button" class="btn btn-default btn-s" (click)="onViewButtonClicked(employee.uuid)"><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default btn-s" (click)="onEditButtonClicked(employee.uuid)"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-default btn-s"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </td>
  </tr>

  </tbody>
</table>
-->
