<div style="height: 700px ">
  <split [direction]="'horizontal'">
    <split-area [size]="20">
      <div style="padding-right:15px">
        <div class="panel panel-info">
          <div class="panel-heading">
            今日处方
          </div>
          <div class="panel-body">
            <button (click)="onCreatePrescriptionClicked()"
                    class="btn btn-primary btn-sm isaac-margin-bottom-10px"><span
              class="glyphicon glyphicon-plus"></span> 新建处方
            </button>

            <app-loading-spinner [isLoading]="isLoading$|async"></app-loading-spinner>

            <app-treatment-prescription-list
              [list]="todayPrescriptions$|async"
              [selectedPrescription]="selectedPrescription$|async"
              (itemSelected)="onPrescriptionSelected($event)"
            ></app-treatment-prescription-list>


          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            历史处方
          </div>
          <div class="panel-body">

            <app-treatment-prescription-list
              [list]="historyPrescriptions$|async"
              [selectedPrescription]="selectedPrescription$|async"
              (itemSelected)="onPrescriptionSelected($event)"
            ></app-treatment-prescription-list>

          </div>
        </div>
      </div>
    </split-area>

    <split-area [size]="80">
      <div style="padding-left: 20px">
        <router-outlet></router-outlet>
      </div>
    </split-area>
  </split>
</div>
